@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Roboto', sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --largura: 1200px;
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth;
}



.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-anton {
  font-family: 'Anton', sans-serif;
}

.font-jamjuree{
  font-family: 'Bai Jamjuree', sans-serif;
}



.faixa-wrapper {
  overflow: hidden;
  width: 100%;
}

.faixa-track {
  display: flex;
  width: max-content;
  animation: faixa-marquee 45s linear infinite;
}

@keyframes faixa-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


@layer components {
  .cut-border-left {
    @apply relative inline-flex items-center h-14 px-6 bg-black text-white font-semibold tracking-widest border-2 rounded-full;
    margin-right: -14px;
  }

  .cut-border-right {
    @apply relative inline-flex items-center justify-center h-14 w-14 bg-black text-2xl border-2 rounded-full cursor-pointer;
    margin-left: -14px;
  }

  /* recorte do texto */
  .cut-border-left::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    width: 20px;
    height: 20px;
    background: #000;
    /* fundo da página */
    border: inherit;
    border-radius: 9999px;
    transform: translateY(-50%);
  }

  /* recorte do botão */
  .cut-border-right::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    width: 20px;
    height: 20px;
    background: #000;
    /* fundo da página */
    border: inherit;
    border-radius: 9999px;
    transform: translateY(-50%);
  }
}




/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f5a205, #e7a040);
  border-radius: 10px;
  border: 2px solid #0b0b0b; /* cria “padding” visual */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffd46a, #f5a205);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f5a205 #0b0b0b;
}
